body { font-family: 'Signika',Tahoma, sans-serif; font-size: 14px; color: #757575; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
	
a { color:#ea592e; text-decoration:none; outline:none; }
a:hover  { text-decoration:none; color:#8a9658; }
a.secondary { color:#8a9658; }
a.secondary:hover { color:#136e5a; }
a > img { display:block; }

h1, h2, h3, h4, p { margin:0 0 5px 0; padding:0; }
h1 { font-size:20px; font-weight:normal; color:#41647b; }
h2 { font-size:17px; font-weight:normal; color:#41647b; }
h3, h4 { font-size:14px; font-weight:normal; color:#41647b; }
p { line-height:1.5em }

h3 {
	font-size:24px;
	border-bottom:2px solid #41647b;
	padding-bottom:5px;
	margin-bottom:28px;
}

.floatleft { float:left; }
.floatright { float:right; }
.alignright { text-align:right; }
.aligncenter { text-align:center; }
.w100 { width:100%; }
.hasshadow {
	-webkit-box-shadow:#666 0 0 3px;
	-moz-box-shadow:#666 0 0 3px;
	box-shadow:#666 0 0 3px;
}
.hasshadow:hover {
	-webkit-box-shadow:#313131 0 0 3px;
	-moz-box-shadow:#313131 0 0 3px;
	box-shadow:#313131 0 0 3px;
}

.clr {clear:both; font-size:1px; height:1px; }

/* float clearing for IE6 */
* html .clearfix{ height: 1%; overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{  clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}

/* STICK FOOTER */
html, body {height: 100%;}
#wrap {width:100%;min-height: 100%; background:#f3eee4;}
#main { background:#f3eee4;overflow:auto; min-width:1060px; /*padding-bottom: 170px;*/}  /* must be same height as the footer IF the footer exists */

footer#mainfooter {
	position: relative;
	margin-top: -170px; /* negative value of footer height */
	height: 170px;
	clear:both;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

.inner {
	width:100%;
	margin:0 auto;
}
#main > .inner {
	margin-bottom:80px;
    padding-top:0px;
    float:left;

    /*background-image:url(images/back_dots.png);*/
}

/*SEARCH*/


/* FOOTER */
footer#mainfooter
{
	background:#263433 url(images/bg_footer.jpg) 0 0 repeat-x;
}

footer#mainfooter p
{
    padding:5px;
	font-size:12px;
}

/*added for FAO existed footer*/
#footer
{
    margin-left:240px;
}



/* CREDITS */
nav.credits {
	height:111px;
}
nav.credits {
	text-align:center;
}
nav.credits a {
	display:inline-block;
	height:65px;
	padding:0 60px;
	margin-top:20px;
	font-size:13px;
	color:#6a2810;
    /*font-weight : bold;*/
}
nav.credits a:hover {
    color:#fff;
}
nav.credits a.naturalEurope
{
	background:url(images/naturalEurope.png) 50% 100% no-repeat;
}
nav.credits a.curated {
	background:url(images/combo.png) 50% 133% no-repeat;
}
nav.credits a.redpanda {
	background:url(images/redpanda_logo.png) 50% 113% no-repeat;
}



/* HEADER */
header#mainheader {
	/*min-height:100px;*/ /*DEACTIVATED TO HIDE THE TOP VERTICAL LOGO*/
	border-bottom:4px solid #e95c2e;
    background:url(images/header-back.png) center repeat;
}



.select2-drop {
	background-color:#1982a5;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	border-width:0;
}
.select2-results {
	color:#fff;
}
.select2-results .select2-highlighted {
	background: none repeat scroll 0 0 #FFF;
	color: #1a7c9c;
}
.select2-results .select2-result-label {
	display:block;
	height:20px;
	line-height:20px;
}
.select2-results .select2-result-label img {
	padding:4px 6px 0 0;
	float:left;
}

/*TOP VERTICAL LOGO*/
.logo {
	display:block;
	width:100%;
	height:121px;
	background:url(images/logo.png) center center no-repeat;
	text-indent:-9999px;
    margin:auto;
}

.logo_menu {
	position:relative;
	display:block;
	float:left;	width:22px;
	height:21px;
	margin:40px 0 0 10px;
	cursor:pointer;
}
.logo_menu:hover > ul { display:block; }
.logo_menu > ul {
	display:none;
	position:absolute;
	left:-10px;
	top:21px;
	z-index:11000;
}
.logo_menu > ul li a {
	background-color:#ececec;
	display:block;
	border-bottom:1px solid #d7d7d9;
	border-left:1px solid #d7d7d9;
	border-right:1px solid #d7d7d9;
	width:120px;
	height:35px;
	line-height:35px;
	padding:0 10px;
	overflow:hidden;
}
.logo_menu > ul li:first-child a {
	border-top:1px solid #d7d7d9;
}
/*--*/

/*LOGO ON THE LEFT OF THE SEARCH*/
.leftsidelogo
{
    display:block;
    background:url(images/gln-logo.png) left center no-repeat;
    margin: 10px 0px 20px 20px;
    height:90px;
    width:320px;
    float:left;
}
/*--*/


#search
{
    background-color:none;
    background-repeat:no-repeat;
    background-position: center center;
    padding:0px;
    height:80px;
}
.main_search_block {
	position:relative;
}
.moduletable_mainsearch
{
    /*padding-top:10px;*/
}

.moduletable_mainsearch form {
	/*position:relative;*/
}
.moduletable_mainsearch form > div {
	background:url(images/search_input.png) 0 0 no-repeat;
	width:505px;
	height:62px;
    margin:auto;
}

.moduletable_mainsearch form > div input {
	border:0;
	background:transparent;
	height: 40px;
	margin:11px 0 0 18px;
	width: 385px;
	font-size:25px;
	font-family:'Signika', Arial, sans-serif;
}
.ie8 .moduletable_mainsearch form > div input {
	line-height:40px;
}
.placeholder { color: #dcdcdc; }
.moduletable_mainsearch form input[type=submit] {
	position:absolute;
	right:0;
	top:0;
	height: 48px;
	margin-right: 7px;
	margin-top: 8px;
	width: 75px;
	background:transparent;
	border:0;
	cursor:pointer;
	text-indent:-9999px;
}
.moduletable_mainsearch div.alignright {
	margin-top:7px;
}

.moduletable_extendedsearch {
	float:right;
	width:568px;
	padding-top:10px;
	color:#49b49c;
	display:none;
}
.moduletable_extendedsearch .radioline {
	margin-bottom:13px;
}
.moduletable_extendedsearch .radioline label {
	float:left;
	margin-right:15px;
	
}
.moduletable_extendedsearch .radioline label .styledRadio {
	float:left;
	margin:1px 4px 0 0;
}
.moduletable_extendedsearch .selectline {
	margin-bottom:5px;
}
.moduletable_extendedsearch .selectline label > span {
	height:28px;
	line-height:28px;
	display:inline-block;
	margin-right:5px;
	width:115px;
	text-align:right;
}

/* SELECT2 OVERRIDE EXTENDSEARCH */
.moduletable_extendedsearch .select2-container .select2-choice {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image:none;
	border: 3px solid #e0e0e0;
	border-radius: 4px 4px 4px 4px;
	color: #444444;
	display: block;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	padding: 0 0 0 8px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	width:144px;
	filter:0;
}
.moduletable_extendedsearch .select2-container-active .select2-choice,
.moduletable_extendedsearch .select2-container-active .select2-choices {
	-webkit-box-shadow: none;
	-moz-box-shadow   : none;
	-o-box-shadow     : none;
	box-shadow        : none;
	/*border: 1px solid #5897fb;*/
	outline: none;
}
.moduletable_extendedsearch .select2-container .select2-choice div {
	background:url(images/select_arrow.png) 0 0 no-repeat;
	border-left:0;
	border-radius:0;
	display: block;
	height: 100%;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 23px;
	filter:0;
}
.moduletable_extendedsearch .select2-container .select2-choice div b {
	background:none;
	display: block;
	height: 100%;
	width: 100%;
}
.select2-drop.simple {
	background-color:#FFF;
	font-size:14px;
	font-weight:normal;
	text-transform:inherit;
	border-width:0;
}
.select2-drop.simple .select2-results {
	color:#000;
}
.select2-drop.simple .select2-results .select2-highlighted {
	background: none repeat scroll 0 0 #ECECEC;
	color: #000;
}
.select2-drop.simple .select2-results .select2-result-label {
	display:block;
	height:20px;
	line-height:20px;
}
.select2-drop.simple.font12 .select2-results .select2-result-label {
	font-size:12px;
	font-family:'Signika', Tahoma, sans-serif;
}

/* STD DROPDOWNS ( label as parent ) */
.stdselect .select2-container .select2-choice {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image:none;
	border: 3px solid #e0e0e0;
	border-radius: 4px 4px 4px 4px;
	color: #444444;
	display: block;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	padding: 0 0 0 8px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	/*width:144px;*/
	filter:0;
}
.stdselect .select2-container-active .select2-choice,
.stdselect .select2-container-active .select2-choices {
	-webkit-box-shadow: none;
	-moz-box-shadow   : none;
	-o-box-shadow     : none;
	box-shadow        : none;
	/*border: 1px solid #5897fb;*/
	outline: none;
}
.stdselect .select2-container .select2-choice div {
	background:url(images/select_arrow.png) 0 0 no-repeat;
	border-left:0;
	border-radius:0;
	display: block;
	height: 100%;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 23px;
	filter:0;
}
.stdselect .select2-container .select2-choice span {
    padding-right:10px;
}
.stdselect .select2-container .select2-choice div b {
	background:none;
	display: block;
	height: 100%;
	width: 100%;
}
.stdselect .select2-search, .simple .select2-search {
    margin-top:4px;
}

/* MENU */
nav {
	margin-top:0px;
}
nav #jMenu {
	margin:0 auto;
}
nav #jMenu li {
	background:transparent;
	display: table-cell;
	margin: 0;
}
nav #jMenu li.hassubmenu {
	background:url(images/menu_hassub.png) 93% 53% no-repeat;
}
.ie9 nav #jMenu li.hassubmenu { background-position:93% 48%; }
nav #jMenu li a
{
	color: #124e62;
	display: block;
	font-size: 16px;
	font-family:'Signika', Tahoma, sans-serif;
	padding:10px 35px;
}
nav #jMenu > li.active > a, nav #jMenu > li:hover > a {
	color:#8a9658;
}
nav #jMenu > li.active a {
	/*background:url(images/menu_active.png) center bottom no-repeat;*/
}
nav #jMenu li ul {
	z-index:10000;
}
nav #jMenu li ul li {
	background-color:#ececec;
	display:block;
	border-bottom:1px solid #d7d7d9;
	border-left:1px solid #d7d7d9;
	border-right:1px solid #d7d7d9;
	padding:0
}
nav #jMenu li ul li:first-child {
	border-top:1px solid #d7d7d9;
	margin-top:9px;
}
nav #jMenu li ul li.arrow {
	background:transparent;
	height:10px;
	padding:0;
	border-bottom:1px solid red;
	border-left:1px solid yellow;
	border-right:1px solid blue;
}
nav #jMenu li ul li a.isParent {
	background:url(images/menu_subparent.png) 95% center no-repeat transparent;
}
nav #jMenu li ul li a {
	font-size:16px;
	font-family:'Signika',Arial, sans-serif;
	color:#124e62;
	text-transform:none;
	padding:12px;
	display:block;
	border-top:0;
	border-bottom:0;
	color:#124e62;
}
nav #jMenu li ul li a:hover {
	color:#8a9658;
	background-color:#ececec;
	border-top:0;
	border-bottom:0;
}

/* PARALAX SLIDESHOW */
#slideshow-wrapper {
	height:370px;
	/*background:url(images/slideshow_bg_patter.png) 0 0 repeat;*/
    background-color:#f2f3e9;
}

#layerslider {
	width: 100%;
	height: 370px;
	margin: 0px;
}

.biggreen {
	font-size:60px;
	font-weight:bold;
	color:#124e62;
	display:block;
	height:50px;
	margin-bottom:6px;
	text-transform:uppercase;
}
.lightgreen {
	font-size:32px;
	color:#8a9658;
	display:block;
	height:30px;
	text-transform:uppercase;
}
.normalgreen {
	font-size:32px;
	color:#124e62;
	display:block;
	height:34px;
}

/* skin overwrite */
#slideshow-wrapper .ls-lightskin {
    background: transparent;
    border-radius:0;
    box-shadow:none;
    padding:0;
}

/* MAIN */
#main {
	padding-top:30px;
}

.sorting {
	height:30px;
	line-height:40px;
	padding:0 9px 0 21px;
    color:white;
    
    background-image: linear-gradient(right bottom, rgb(242,155,68) 37%, rgb(234,90,46) 67%);
    background-image: -o-linear-gradient(right bottom, rgb(242,155,68) 37%, rgb(234,90,46) 67%);
    background-image: -moz-linear-gradient(right bottom, rgb(242,155,68) 37%, rgb(234,90,46) 67%);
    background-image: -webkit-linear-gradient(right bottom, rgb(242,155,68) 37%, rgb(234,90,46) 67%);
    background-image: -ms-linear-gradient(right bottom, rgb(242,155,68) 37%, rgb(234,90,46) 67%);
    
    background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(0.37, rgb(242,155,68)),
	color-stop(0.67, rgb(234,90,46))
    );
    
}
/*navigation purposes*/
.sorting a
{
    color:white;
}

.navigation-left-padding{
    padding-left:250px;
}

.sorting a:hover
{
    color:yellow;
    text-decoration:underline;
}

.here
{
    text-decoration:underline;
    font-size:14px;
}

/*--*/

#search_terms /*indicator of result in left menu */
{
    color:white;
}

#insert_summary /*indicator of result in left menu*/
{
    margin:0px 0px 5px 15px;
}

#search_status /*indicator of processing time in left menu*/
{
    color:white;
    margin:10px 0px 15px 15px;
}

.left_details /*details of the above items (results & processing time)*/
{
    color:#f29c44;
}
/*-----*/


.sorting label {
	float:right;
	margin-left:20px;
}
.sorting label .select2-container {
	margin-top:5px;
}
.sorting label.stdselect.width146 .select2-container .select2-choice {
	width:146px;
}

div.twocols > * {
	float:left; /*changed from right to left*/
    
}
div.twocols > *:first-child {
	float:left;
}
div.width500 {
	width:500px;
}
div.width400 {
	width:400px;
}
div.moduletable.slidermodule {
	position:relative;
}

div.moduletable.slidermodule h3
{
	width:100%;
    font-size: 18px;
    padding:0px;
    margin:0px 0px 7px 0px;
}

div.slider_page {
	padding:3px 50px 0 3px;
}

/* listitem */
li.slider_page_listitem a
{
    color:#8c9a45;
}

li.slider_page_listitem a:hover
{
    color:#8b390f;
}


li.slider_page_listitem {
	padding-bottom:10px;
	border-bottom:1px solid #ececec;
	margin-bottom:10px;
}
li.slider_page_listitem.movie_label {
	padding-left:80px;
	background:url(images/movie_label.png) 17px 8px no-repeat;
}
li.slider_page_listitem > a {
	float:left;
	display:block;
	border:2px solid #fff;
    
}

li.slider_page_listitem > div {
	/*margin-left:172px;*/
	width:450px;
}
li.slider_page_listitem > div p {
	line-height:1.1em;
	display:block;
}
li.slider_page_listitem > div .info {
	margin-top:12px;
	font-size:12px;
}
li.slider_page_listitem > div .info label {
	margin-right:10px;
}
li.slider_page_listitem > div .info > a {
	float:right;
	margin-left:18px;
}
/* singleitem */

.slider_page_singleitem {
	width:400px;
}

.slider_page_singleitem a
{
    color:#8c9a45;
}

.slider_page_singleitem a:hover
{
    color:#8b390f;
}



.slider_page_singleitem > a {
	display:inline-block;
	border:4px solid #fff;
	margin-bottom:23px;
    color:#8c9a45;
    

}
.slider_page_singleitem h2 {
	margin-bottom:11px;
    color:#8c9a45;
}
.slider_page_singleitem p {
	line-height:1.1em;
	display:block;
}
.slider_page_singleitem .info {
	margin-top:5px;
	font-size:12px;
}
.slider_page_singleitem .info > a {
	float:right;
	margin-left:18px;
}

/* navigation */
.slider-navigation {
	/*position:absolute;
	top:10px;
	right:0;*/
}
.slider-navigation > * {
	float:right;
	display:block;
}
.slider-navigation a.slider-prev {
	text-indent:-9999px;
	height:13px;
	width:13px;
	background:url(images/pager_sprite.png) -27px 0 no-repeat;
	margin-left:5px;
}
.slider-navigation a.slider-next {
	text-indent:-9999px;
	height:13px;
	width:13px;
	background:url(images/pager_sprite.png) -27px -20px no-repeat;
	margin-right:5px;
}
.pager a {
	text-indent:-9999px;
	background:url(images/pager_sprite.png) 3px 3px no-repeat;
	height:13px;
	width:13px;
	display:inline-block;
}
.pager a.activeSlide, .pager a:hover {
	background-position:3px -20px;
}

/* SUPPORTERS */
.supporters {
	height:130px;
	padding-top:24px;
	background:#f3f3f3;
}
.supporters a {
	font-size:10px;
	color:#919191;
	padding:0 0 103px 0;
	display:inline-block;
}


.supported_by_msu {
	text-align:left !important;
	background:url(images/msu.png) center 20px no-repeat;
	width:140px;
}

.msuCombined
{
    width:140px;
    margin-right:90px;
    text-align:left;
	background:url(images/msu.png) center  no-repeat;
}

.agroknowCombined
{
    text-align:right;
    width:100px;
    margin-right:0px;
    padding:0px 0px 0px 5px;
	background:url(images/agroknow.png) center no-repeat;
}

.glnCombined{
    text-align:right;
    width:100px;
    margin-right:0px;
    padding:0px 0px 0px 5px;
	background:url(images/gln.png) center no-repeat;
}

.fsknCombined{
    width:220px;
    margin-right:90px;
    text-align:left;
	background:url(images/fskn.png) center no-repeat;
    
}
/*---*/

/* INNERPARE LISTINGPAGE */
body.innerpage #main {
	padding-top:20px;
    
}
/* FILTER */



.filter {
	width:230px;
	background:#ea5a2e;
    margin-bottom:30px;

	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.filter a
{
	display:block;
	font-family:'Signika', Tahoma, sans-serif;
	font-size:11px;
	color:#81a54e;
	/*text-transform:uppercase;*/
	
}

.filter .search_filter
{
	padding:10px 0px;
    width:220px;
    margin: 0px 0px 5px 3px;
    color:white;
    font-size:16px;
    background-color:transparent;
    border-width: 1px;
}



.filter_parent
{
	line-height:35px;
    background:#f29c44 url(images/arrow-down.png) 195px center no-repeat;
    border-bottom:1px solid #ea5a2e;
}

.filter_parent:hover
{
    /*background: url(images/filter_parent_hover.png);*/
}

.filter_parent.opened:hover
{
    /*background: url(images/filter_parent_hover.png);*/
}

.filter_parent.opened
{
	background-color:#cad0a9;
	background-position:93% -22px;
    background:#f29c44 url(images/arrow-up.png) 195px center no-repeat;
    
}

.filter_parent span {
	margin-left:20px;
	display:block;
    font-size:14px;
    color:white;
}
.filter_child {
	/*display:none;*/

}
.filter_child.hasscroll {
	overflow:hidden;
	height:auto;
    max-height: 215px;
}
.filter_child a {
    color:white;
    background:url(images/unchecked.png) 3px center no-repeat;
	padding:7px 13px 7px 20px;
	position:relative;
    font-size:13px;
    /*height:25px;*/
}
.filter_child a:hover
{
    background-color:#f3eee4;
    font-weight:bold;
    color:#ea592e;
}

.filter_child a.facet-selected
{
    font-size:14px;
    font-weight:bold;
    color:#ea592e;
    background:#f3eee4 url(images/checked.png) 3px center no-repeat;
}

.filter_child span {
	display:block;
	padding:0 0 0 5px;
	width:130px;
	display:table-cell;
	vertical-align:middle;
	/*height:25px;*/
	float:none;
}
/*.filter_child span.image-icon { background:url(images/filter_icons.png) 0 9px no-repeat; }*/
/*.filter_child span.audio-icon { background:url(images/filter_icons.png) 0 -36px no-repeat; }*/
/*.filter_child span.video-icon { background:url(images/filter_icons.png) 0 -80px no-repeat; }*/
/*.filter_child span.url-icon { background:url(images/filter_icons.png) 5px -125px no-repeat; }*/
.filter_child span.total
{
    color:white;
	position:absolute;
	height:16px;
	width:25px;
	right:0;
	top:0;
	line-height:16px;
	margin:5px 10px 0 0;
	padding:0px 8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#f29c44;
	font-weight:normal;
	text-align:center;
}

.filter_child a.facet-selected span.total
{
    background-color:#ea592e;   
}

.remove_filters {
	text-align:right;
	height:18px;
	text-transform:uppercase;
   
}
.remove_filters a {
	margin-right:9px;
	display:inline-block;
	height:18px;
	line-height:18px;
	font-size:10px;
    color:white;
}
.remove_filters a:hover
{
	color: #f29c44 ;
}

/*footer replacement on the left menu*/
.links_left
{
    padding:10px 10px 10px 10px;
    margin: 90px 0px 50px 0px;
    background:#f29c44 ;
}

.links_left_title
{
    color:white;
    font-size:11px;
    margin-bottom:2px;
    
    
}
.links_left_content
{
    color:#ea5a2e;
    text-transform:uppercase;
    margin-bottom:20px;
}
/*---*/

/* TAG CLOUD */
.tagcloud {
	padding:15px 9px 5px;
	text-align:center;
	border-top: 1px solid #175867;
}
.tagcloud a {
    color:#FFFFFF;
    display:inline-block;
    font-family:Tahoma,sans-serif;
    font-size:12px;
    height:18px;
    line-height:18px;
    text-transform:none;
    margin:0 1px 7px 1px;
    padding:1px 3px;
}
.tagcloud a.layer1 {
	background-color:#5fa1b7;
}
.tagcloud a.layer2 {
	background-color:#5fa1b7;
}
.tagcloud a.layer3 {
	background-color:#2d7188;
}
.tagcloud a.layer4 {
	background-color:#0b4356;
}
.tagcloud a:hover, .tagcloud a.active {
	background-color:#3d9d8c;
}

/*LISTING*/

.listing {
	margin-top:15px;
    width:780px;
    padding-left:5px;
    padding-bottom:50px;
    
}
.odd {
	background-color:#ffffff;
    /*border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;*/
}
.item-intro {
	padding:8px 9px;
	font-family:'Signika', Tahoma, sans-serif;
	font-size:14px;
	margin-bottom:16px;
    background-color:none;
    /*box-shadow: 1px 1px 1px #888888;*/
}

.item-intro a{
    color:#ea592e;
}

.item-intro a:hover{
    color:#323b45;
    text-decoration:underline;
}

.item-intro h2 {
	font-size:18px;
	padding:2px 0 8px 5px;
/*	background:url(images/item_intro_sprite.png) 0 -95px no-repeat;*/
	line-height:1.2em;
}

.item-intro h2 img{
    height:20px;
}

.item-intro h3 {
	font-size:12px;
	border-bottom:none;
	margin:0;
	padding:0px;
}
.item_intro_desc {
	padding:8px 0;
	line-height:1.3em;
}
.item-intro .line {
    max-width : 650px; /*fix infinite length of keywords line*/
	margin-bottom:7px;
}
.item-intro .keywords a::after {
	content:",";
}
.item-intro .keywords a.last::after {
	content:"";
}
.item-intro .select2-container .select2-choice span img {
    float: left;
    padding: 4px 6px 0 0;
}
.translation {
	display:inline-block;
	height:29px;
	line-height:29px;
	margin-left:27px;
	padding-left:37px;
	background:url(images/item_intro_sprite.png) 0 7px no-repeat;
}
.item-intro .floatright {
	width:120px;
	margin-right:16px;
}
.item-intro .rate {
	display:inline-block;
}
.item-intro .moreinfo {
	height:15px;
	line-height:15px;
	padding-right:20px;
	/*background:url(images/item_intro_sprite.png) 64px -63px no-repeat;*/
	display:inline-block;
	margin-top:9px;
	font-size:14px;
}

/* PAGINATION */
#pagination_top
{
    margin:0px 0px 15px 0px;
}
.yui-pg-page
{
    margin:30px 0px 0px 5px;
    padding:4px 10px 4px 10px;
	font-size:16px;
    background:url(images/nav_back.png) center no-repeat;
}

.yui-pg-page:hover
{
    color:white;
    font-weight:bold;
    text-decoration:none;
    background:url(images/nav_back_active.png)center no-repeat;
}

.yui-pg-current-page
{
    color:white;
    font-weight:bold;
    text-decoration:none;
    background:url(images/nav_back_active.png)center no-repeat;
}
.yui-pg-previous
{
    padding-left:10px;
    
}
.yui-pg-next
{
    padding-left:10px;
}



/*OLD PAGINATION*/
/*ul.pagination {
	margin-top:30px;
	font-size:16px;
}
ul.pagination li {
	display:inline;
}
ul.pagination li a, ul.pagination li span {
	display:inline-block;
	padding:0 3px;
}
ul.pagination li a.prev {
	padding-right:10px;
}
ul.pagination li a.next {
	padding-left:10px;
}*/

.langselector {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image: url(images/select_arrow.png);
	background-position:99% 2px;
	background-repeat:no-repeat;
	border: 3px solid #E0E0E0;
	border-radius: 4px 4px 4px 4px;
	color: #444444;
	display:inline-block;
	height: 23px;
	line-height: 23px;
	width:224px;
	padding:0;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	position:relative;
}
.langselector > li a {
	display:block;
	margin-left:8px;
	padding-left:20px;
	background:url(images/face_1.png) left center no-repeat;
}
.langselector > li ul {
	display:none;
	background:#fff;
	border: 3px solid #E0E0E0;
	border-radius: 4px 4px 4px 4px;
	position:absolute;
	top:23px;
	left:1px;
	width:216px;
}
.langselector > li ul a {
	padding:4px 0 4px 20px;
}
.langselector > li:hover ul {
	display:block;
}

/* SCROLLBAR */
.jspVerticalBar {
	width:6px;
}
.jspTrack { background-color:#073646; }
.jspDrag { background-color:#3D9D8C; }

/* ITEM VIEW */

a.backbutton {
	padding-left:30px;
	height:25px;
	line-height:25px;
	background:url(images/back.png) left center no-repeat;
	font-weight:bold;
	display:inline-block;
}

.itemview {
	margin-top:15px;
	width:810px;
}
.item-main {
	margin:17px 0;
    padding-left:30px;
}
.item-main header { margin-bottom:10px; }
.item-main header h1 {
	width:620px;
	display:inline-block;
	line-height:1.2em;
}
.item-main header img {
	float:right;
}
.item-main nav.more {
	text-align:center;
	display:block;
	margin-top:25px;
}
.item-main nav.more a {
	padding:90px 0 0 0;
	margin:0 60px;
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	font-weight:bold;
}
.item-main nav.more a.access {
	background-image:url(images/access_to_the_resource.png);
}
.item-main nav.more a.metadata {
	background-image:url(images/view_metadata_details.png);
}

.item-content > div.clearfix {
	margin-top:45px;
	padding-bottom:11px;
	border-bottom:1px solid #ececec;
	position:relative;
}
.item-content .iteminfo {
	width:470px;
	font-size:12px;
}
.item-content .iteminfo a > img {
	display:inline;
}
.item-content .iteminfo li {
	margin-bottom:8px;
}
nav.inline-nav {
	display:inline;
	margin:0;
	font-size:14px;
}
nav.inline-nav a:after {
	content:",";
}

.item-content h4 {
	font-size:18px;
	color:#7b7b7b;
	margin-bottom:13px;
}

.item-content .itemrating {
	width:470px;
	font-size:12px;
}
.item-content .itemrating > li {
	margin-bottom:8px;
}
.item-content .itemrating .ratinglabel {
	width:180px;
	display:inline-block;
}
a.setrightbottom {
	position:absolute;
	right:0;
	bottom:11px;
}
.review-line {
	font-size:12px;
}
/* flags */
span.flag {
	text-indent:-9999px;
	margin-left:3px;
	display:inline-block;
	width:27px;
	height:18px;
        background-repeat: no-repeat;
}
span.enflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
        text-indent:-9999px;
}
span.esflag {
	background:url(images/flag_es.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.itflag {
	background:url(images/flag_it.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.grflag {
	background:url(images/flag_gr.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.etflag {
	background:url(images/flag_et.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.roflag {
	background:url(images/flag_ro.jpg) 0 0 no-repeat;
        text-indent:-9999px;
}
span.deflag {
	background:url(images/flag_de.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.frflag {
	background:url(images/flag_fr.png) 0 0 no-repeat;
        text-indent:-9999px;
}
a.flag {
	text-indent:-9999px;
	margin-left:3px;
	display:inline-block;
	width:21px;
	height:13px;
}
a.enflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}
a.spflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}
a.itflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}
a.grflag {
	background:url(images/flag_en.jpg) 0 0 no-repeat;
}

.addtofavorite, .reportaproblem {
	padding:35px 0 0 0;
	margin:22px 0 0 28px;
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	font-size:12px;
}
.addtofavorite {
	background-image:url(images/add_to_favorite.png);
}
.reportaproblem {
	background-image:url(images/reportaproblem.png);
}

/* rating */
.rating {
	display:inline-block;
}
.rating li {
	float:left;
}
.rating li a {
	width:13px;
	height:13px;
	display:block;
	background:url(images/rating.png) 0 0 no-repeat;
	text-indent:-9999px;
	margin:0 2px;
}
.rating li a.active, .rating li a:hover {
	background-position:0 -23px;
}

/* SLIDER */
.slider_block {
	margin-bottom:80px;
    width:100%;
}


h2.centerheader{
	color:#8c9a45;
	font-size:32px;
	text-align:center;
    min-height:60px;
}

.immersive-exp
{
  background:url(images/immersive-exp.png) left 60% repeat-x;
}

.hot-themes
{
  background:url(images/hot-themes.png) left 60% repeat-x;
}

.hot-themes-back
{
    padding:0px;
    margin:0px;
    background-color:#e4e6d4;    
}

h2.centerheader span {
	display:inline-block;
	padding:0 30px;
}
.slider {
	padding:50px 0;
	height:150px;
}


/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {
    /* required settings */
    position:relative;
    overflow:ellipsis;
    width:915px;
    height:144px;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    /*width:20000em; needs change TO CREATE THE SLIDE. */
    width:915px;
    position:absolute;
    clear:both;
}

.items div {
    float:right;
    width:915px;
}

.rowOfThree div
{
    width:780px;
}



.items div a {
	display:inline-block;
	height:30px;
	width:150px;
	padding:160px 0 0 0;
	text-align:center;
	font-size:18px;
	color:#8c9a45;
	font-weight:100;
	margin:0px 37px;
    white-space:wrap; 
    
}

/*.items div a:hover { color:#46ad96; }*/
.items div a.school { background:url(images/s0.png) center top no-repeat; }
.items div a.academic { background:url(images/s1.png) center top no-repeat; }
.items div a.casual { background:url(images/s3.png) center top no-repeat; }
.items div a:hover.school { background:url(images/s0h.png) center top no-repeat; }
.items div a:hover.academic { background:url(images/s1h.png) center 1px no-repeat; }
.items div a:hover.casual { background:url(images/s3h.png) center top no-repeat; }


/* single scrollable item */
.scrollable img {
    float:left;
    margin:20px 5px 20px 21px;
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    width:100px;
    height:75px;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}

/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background:url(images/arrows.png) no-repeat;
    display:block;
    width:19px;
    height:36px;
    float:left;
    margin:55px 0px;
    cursor:pointer;
    font-size:1px;
}

/* right */
a.right { background-position:-19px 0; clear:right; margin-right: 0px;}
a.right:hover { background-position:-19px -36px; }
a.right:active { background-position:-19px -36px; }


/* left */
a.left { margin-left: 0px; }
a.left:hover  { background-position:0 -36px; }
a.left:active { background-position:0 -36px; }

/* up and down */
a.up, a.down  {
    background:url(/media/img/scrollable/arrow/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
a.up:hover { background-position:-30px 0; }
a.up:active { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover { background-position:-30px -30px; }
a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}







/*VIEW ITEM PAGE*/

.access, .reportaproblem {
	padding:35px 0 0 0;
	margin:22px 0 0 0px;
	background-position:center top;
	background-repeat:no-repeat;
	display:inline-block;
	font-size:12px;
}
.access{
	background-image:url(images/access_to_the_resource.png);
}

.reportaproblem {
	background-image:url(images/reportaproblem.png);
}



/*Left Sidebar in item*/
.leftSidebarInfo {
    margin-top:25px;
	width:230px;
	background:none;
    font-size:13px;
    border-right:1px solid #ccc;
    
}

.cleanList
{
    list-style-type: none;
    margin:0px;
    padding:10px 10px 15px 20px;
}

.cleanRow
{
    padding: 7px 0px 3px 0px;
}

.itemsMedia
{
    /*float:right;*/
    width:160px;
    height:160px;
}
.itemDescription
{
    float:left;
    width:550px;
    min-height: 200px;
}

.itemKeywords
{
    width:550px;
}

.itemKeywords li
{
	margin:0px;
    list-style-type:none;
    padding: 0px;
}
.itemRights
{
    display:inline;
    font-size:12px;
}

.forKomma{
    color:#41647b;
}
.forKomma:after{
    color:#41647b;
    content:", ";
}
.forKomma.last:after{
    color:#41647b;
    content:" ";
}
.forKomma.link:hover{
    color:#41647b;
}

/*ITEM VIEW*/


/* PANEL */
#panel {
	position:absolute;
	width:100%;
}
#panel section {
	display:none;
	background:#f09040;
	padding:17px 21px 10px;
}
#panel .brownline {
	width:100%;
	height:3px;
	background:#e95c2e;
}
#panel > a {
	width:36px;
	height:31px;
	background:#f09040 url(images/sprite.png) 6px 4px no-repeat;
	display:block;
	text-indent:-9999px;
	border-radius: 0px 0px 4px 4px;
	margin-right:24px;
}
#panel article { height:18px; line-height:18px;float:left;margin-right:35px; width:310px; }
#panel article > h3 {
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	margin-right:18px;
}
#panel article > div {
	float:left;
	display:block;
	width:155px;
	height:3px;
	margin-top:7px;
}
#panel article > span.amount {
	background-color:#9fbc2e;
	padding:0 3px;
	margin-left:18px;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	font-size:12px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#fff;
	border: 1px solid #fff;
	font-weight: normal;
}
.ui-slider .ui-slider-handle {
	cursor:pointer;
	height:12px;
	width:24px;
	border:none;
}
.ui-slider-horizontal .ui-slider-handle {
	top:-5px;
}
#resizefonts .ui-slider-range, #linespacing .ui-slider-range { background: #93b944; }

#panel label {
	float:left;
	height:18px;
	line-height:18px;
	display:inline-block;
}
#panel label > span {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-right: 18px;
}
#s2id_font-selector.select2-container {
	margin:0px;
	width:133px;
	text-align:left;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	/*float:left;*/
	margin-top:-4px;
}
#s2id_font-selector.select2-container .select2-choice {
	color:#fff;
	background-color:#c3d92e;
	background-image:none;
	filter:0;
	border-color:#c3d92e;
	box-shadow:0 1px 0 #c3d92e inset;
}
#s2id_font-selector.select2-container .select2-choice div {
	background:transparent;
	border-left: 1px solid #fff;
	width: 20px;
	filter:0;
}
#s2id_font-selector.select2-container .select2-choice div b {
    background: url("images/select2.png") no-repeat scroll 2px 1px transparent;
    display: block;
    height: 100%;
    width: 100%;
}
#s2id_font-selector.select2-container .select2-choice span img {
	padding:7px 6px 0 0;
	float:left;
}